{% for zone in zones %}
{%- if not zone.endswith('.in-addr.arpa') %}
// Foward zone {{ zone }} - Transfer from PowerDNS master
zone "{{ zone }}" {
    type slave;
    masters { {{ pdns_ip }}; };
    file "/var/lib/bind/db.{{ zone }}";
    allow-notify { {{ pdns_ip }}; };
};

{%- endif %}
{% endfor %}

{% for zone in zones %}
{%- if zone.endswith('.in-addr.arpa') %}
// Reverse zone {{ zone }} - Transfer from PowerDNS master
zone "{{ zone }}" {
    type slave;
    masters { {{ pdns_ip }}; };
    file "/var/lib/bind/db.{{ zone }}";
    allow-notify { {{ pdns_ip }}; };
};

{%- endif %}
{%- endfor %}
